.spinner{
    animation: spin 2s linear infinite;
}
@keyframes spin {
    from {
      transform: rotate(0deg);
      border-color: rgb(165, 165, 165);
    }
    to {
      transform: rotate(360deg);
      border-color: white;

    }
  }